{% extends "main.html" %}

{% block content %}
    <div class="container">
        <div class="layout__box">

            <div class="layout__boxHeader">
                <div class="layout__boxTitle">
                    <h3>Reset Password</h3>
                </div>
            </div>

            <div class="layout__body">
                <h2 class="auth__tagline">Enter your email to reset password</h2>

                <form method="POST" class="form" action="{% url 'forgot-password' %}">
                    {% csrf_token %}

                    <div class="form__group">
                        <label for="email">Email</label>
                        <input type="email" id="email" name="email" required />
                    </div>
            
                    <button type="submit" class="btn btn--main">
                        Reset Password
                    </button>
                </form>

                <div class="auth__action" style="margin-top: 2rem;">
                    <p>Not a member? <a href="{% url 'register-user' %}"  class="btn btn--link">Signup</a></p>
                    <p>Remember your Password? <a href="{% url 'login-user' %}"  class="btn btn--link">Login</a></p> 
                </div>
              
            </div>
            
        </div>
    </div>
{% endblock content %}