{% extends "main.html" %}

{% block content %}
    
    <div class="container">
        <div class="layout__box">

            <div class="layout__boxHeader">
                <div class="layout__boxTitle">
                    <h3>Reset Password</h3>
                </div>
            </div>

            <div class="layout__body">

                <h2 class="auth__tagline">Reset the Password</h2>

                <form class="form" method="POST" action="{% url 'reset-password' reset_id %}">
                    {% csrf_token %}

                    <div class="form__group">
                        <label for="password">Password</label>
                        <input
                            id="password"
                            name="password"
                            type="password"
                            required
                            placeholder="&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;"
                        />
                    </div>

                    <div class="form__group">
                        <label for="password">Confirm Password</label>
                        <input
                            id="password"
                            name="confirm_password"
                            type="password"
                            required
                            placeholder="&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;"
                        />
                    </div>
                

                    <button type="submit" class="btn btn--main">
                        Reset Password
                    </button>
                </form>

                <div class="auth__action" style="margin-top: 2rem;">
                    <p>Remember your Password? <a href="{% url 'login-user' %}"  class="btn btn--link">Login</a></p> 
                </div>
                
            </div>
            
        </div>
    </div>

{% endblock content %}