@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

:root {
    --color-main: #71c6dd;
    --color-main-light: #e1f6fb;
    --color-dark: #3f4156;
    --color-dark-medium: #51546e;
    --color-dark-light: #696d97;
    --color-light: #e5e5e5;
    --color-gray: #8b8b8b;
    --color-light-gray: #b2bdbd;
    --color-bg: #2d2d39;
    --color-success: #5dd693;
    --color-error: #fc4b0b;
}

/*========== base styles ==========*/

* {
    font-family: "DM Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
        "Helvetica Neue", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    font-size: inherit;
}

html {
    font-size: 56.25%;
}

@media only screen and (min-width: 1200px) {
    html {
        font-size: 62.5%;
    }
}

@media only screen and (min-width: 2100px) {
    html {
        font-size: 75%;
    }
}

body {
    min-height: 100vh;
    line-height: 1.6;
    font-size: 1.5rem;
    font-weight: 400;
    background-color: var(--color-bg);
    color: var(--color-light-gray);
}

img {
    width: 100%;
}

a {
    display: inline-block;
    color: var(--color-main);
    text-decoration: none;
}


/* ==================== FLASH MESSAGE STYLES ===================== */
.message {
    padding: 12px 16px;
    border-radius: 8px;
    margin: 0px auto;
    width: 90%;
    max-width: 500px;
    font-weight: bold;
    text-align: center;
    opacity: 1;
    transition: opacity 0.5s ease-out;
    position: relative;
    z-index: 999;
}

.message.error {
  background-color: #ffe6e6;
  color: #d8000c;
  border: 1px solid #d8000c;
}

.message.success {
  background-color: #e6ffe6;
  color: #4F8A10;
  border: 1px solid #4F8A10;
}

.error-link {
    text-decoration: none;
    color: var(--color-error);
}
